html {
  height: 100%;
}

.slider
{
  width: 40%;
  height: 100%;
}


body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#8e9ebd, #eef1f5);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 500px;
  height: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(226, 137, 137, 0.5);
  /* background: white; */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(122, 93, 93, 0.6);
  border-radius: 10px;
}


 h2 {
  margin: 0 0 30px;
  padding-top: 20px;
  color: #fff;
  text-align: center;
}

 .user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
 .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

 .user-box input:focus ~ label,
 .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #0c0d0e;
  font-size: 12px;
}

 form a {
  position: relative;
  display: inline-block;
  padding: 10px 50px;
  color: #7373d6;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
  
}

 a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  
}


.register-box {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 500px;
  height: 620px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(212, 153, 153, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(122, 93, 93, 0.6);
  border-radius: 10px;
}

